body {
    display: flex;
    justify-content: center;
}
.sketchMain {
    display: flex;
    background-color: #d00120;
    border-radius: 25px;
    width: 1000px;
    height: 750px;
    border: 3px;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    
}

.sketchBox {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 25px;
    width: 900px;
    height: 600px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}
.gridBox {
    display: flex;
    flex-wrap: wrap;   
}
.gridItem {
    
    flex: 0 0 1;
    
}

.sketchName {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 40px;
}


.sketchNobs {
    display: flex;
    background-color: #e2e2ee;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border-style: outset;
    border-color: #f2f1f6;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nobsBox {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    width: 1000px;
}

.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.top {
    display: flex;
    justify-content: flex-start;
}
.bottom {
    display:flex;
    justify-content: flex-end;
}
.column {
    display:flex;
    flex-direction: column;
}
.row {
    display:flex;
    flex-direction: row;
}
.spaceBetween {
    display:flex;
    justify-content: space-between;
}
.buttonSmall {
    height:21px;
    width: 37.5px;
    background-color: red;
    font-size: 12px;
    text-decoration: none;
    color: white;
    border: solid 1px black;
    margin: 1px;

}
.buttonLarge {
    height: 31.5px;
    width: 56.25px;
    background-color: red;
    font-size: 12px;
    text-decoration: none;
    color: white;
    border: solid 1px black;
    margin: 1px 1px 1px 3px;
}
.justifySelfCenter {
    display: flex;
    justify-self: center;
}
.alignSelfCenter {
    display: flex;
    align-self: center;
}
.removePadding {
    padding: 0px;
}
.paddingTop5px {
    display: flex;
    padding-top: 5px;
}

.buttonLarger {
    height: 42.5px;
    width: 67.5px;
    background-color: red;
    font-size: 12px;
    text-decoration: none;
    color: white;
    border: solid 1px black;
    margin: 1px 1px 1px 3px;
}
.bottomCenter {
    display:flex;
    justify-content: space-between;
    width: 500px;
}
.paddingTop11px {
    display: flex;
    padding-top: 11px;
}

.centerBottomText {
    color: white;
    font-weight: bold;
    font-size: large;
}